name: Flutter APK Build (Debug & Release)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout
        uses: actions/checkout@v4

      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'  # نسخه ای که پروژه شما با آن ساخته شده
          cache: true

      
      - name: Flutter doctor
        run: flutter doctor -v

      
      - name: Clean
        run: flutter clean

      
      - name: Pub get
        run: flutter pub get

      
      - name: Build Debug APK
        run: flutter build apk --debug --no-sound-null-safety
      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk

      
      - name: Build Release APK
        run: flutter build apk --release --no-sound-null-safety --android-skip-build-dependency-validation
      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
